<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Setting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Image -->
    <link rel="icon" th:href="@{/img/menu.png}"/>

    <script src="js/sweetalert2.all.min.js"></script>

    <!--Online-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/stylesidebar.css}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <script th:src="@{/js/setting.js}"></script>
</head>
<body>
<div class="wrapper">
    <div th:insert="fragment/sidebar.html :: sidebar"></div>

    <div id="content" class="col">
        <div th:insert="fragment/navheader.html :: navheader"></div>

        <div class="container">

            <div class="container">

                <div class="row">

                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked admin-menu" >
                            <li class="active"><a href="" data-target-id="profile"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
                            <li><a href="" data-target-id="change-password"><i class="glyphicon glyphicon-lock"></i> Change Password</a></li>
                            <li><a href="" data-target-id="settings"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
                            <li><a href="" data-target-id="logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
                        </ul>
                    </div>

                    <div class="col-md-9  admin-content" id="profile">
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Name</h3>
                            </div>
                            <div class="panel-body">
                                Ashish Patel
                            </div>
                        </div>
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Email</h3>
                            </div>
                            <div class="panel-body">
                                ashishpatel0720@gmail.com
                            </div>
                        </div>
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Last Password Change</h3>

                            </div>
                            <div class="panel-body">
                                4 days Ago
                            </div>
                        </div>

                    </div>
                    <div class="col-md-9  admin-content" id="settings">
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Notification</h3>
                            </div>
                            <div class="panel-body">
                                <div class="label label-success">allowed</div>
                            </div>
                        </div>
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Newsletter</h3>
                            </div>
                            <div class="panel-body">
                                <div class="badge">Monthly</div>
                            </div>
                        </div>
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Admin</h3>

                            </div>
                            <div class="panel-body">
                                <div class="label label-success">yes</div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-9  admin-content" id="change-password">
                        <form action="/password" method="post">


                            <div class="panel panel-info" style="margin: 1em;">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><label for="new_password" class="control-label panel-title">New Password</label></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="password" id="new_password" >
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="panel panel-info" style="margin: 1em;">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><label for="confirm_password" class="control-label panel-title">Confirm password</label></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="password_confirmation" id="confirm_password" >
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-info border" style="margin: 1em;">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="pull-left">
                                            <input type="submit" class="form-control btn btn-primary" name="submit" id="submit">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="col-md-9  admin-content" id="settings"></div>

                    <div class="col-md-9  admin-content" id="logout">
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Confirm Logout</h3>
                            </div>
                            <div class="panel-body">
                                Do you really want to logout ?  
                                <a  href="#" class="label label-danger"
                                    onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
                                    <span >   Yes   </span>
                                </a>    
                                <a href="/account" class="label label-success"> <span >  No   </span></a>
                            </div>
                            <form id="logout-form" action="#" method="POST" style="display: none;">
                            </form>



                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


</body>
</html>

