<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Notification</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Image -->
    <link rel="icon" th:href="@{/img/menu.png}"/>

    <script src="js/sweetalert2.all.min.js"></script>

    <!--Online-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/stylesidebar.css}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <script th:src="@{/js/notif.js}"></script>
</head>
<body>
<div class="wrapper">
    <div th:insert="fragment/sidebar.html :: sidebar"></div>

    <div id="content" class="col">
        <div th:insert="fragment/navheader.html :: navheader"></div>

        <div class="container">

            <div class="row notification-container">
                <h2 class="text-center">My Notifications</h2>
                <p class="dismiss text-right"><a id="dismiss-all" href="#">Dimiss All</a></p>
                <div class="card notification-card notification-invitation">
                    <div class="card-body">
                        <table>
                            <tr>
                                <td style="width:70%"><div class="card-title">Admin Change Role Status '<b>Familia</b>' group</div></td>
                                <td style="width:30%">
                                    <a href="#" class="btn btn-primary">View</a>
                                    <a href="#" class="btn btn-danger dismiss-notification">Dismiss</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="card notification-card notification-warning">
                    <div class="card-body">
                        <table>
                            <tr>
                                <td style="width:70%"><div class="card-title">User Add Activity '<b>Groceries</b>' has exceeded its budget</div></td>
                                <td style="width:30%">
                                    <a href="#" class="btn btn-primary">View</a>
                                    <a href="#" class="btn btn-danger dismiss-notification">Dismiss</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="card notification-card notification-danger">
                    <div class="card-body">
                        <table>
                            <tr>
                                <td style="width:70%"><div class="card-title">Admin Add New Departement '<b>Clothing</b>' budget category</div></td>
                                <td style="width:30%">
                                    <a href="#" class="btn btn-primary">View</a>
                                    <a href="#" class="btn btn-danger dismiss-notification">Dismiss</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="card notification-card notification-reminder">
                    <div class="card-body">
                        <table>
                            <tr>
                                <td style="width:70%"><div class="card-title">You have <b>2</b> Message From Admin</div></td>
                                <td style="width:30%">
                                    <a href="#" class="btn btn-primary">View</a>
                                    <a href="#" class="btn btn-danger dismiss-notification">Dismiss</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="card notification-card notification-reminder">
                    <div class="card-body">
                        <table>
                            <tr>
                                <td style="width:70%"><div class="card-title">You have <b>2</b> Your Project has been approve by Manager</div></td>
                                <td style="width:30%">
                                    <a href="#" class="btn btn-primary">View</a>
                                    <a href="#" class="btn btn-danger dismiss-notification">Dismiss</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>


</body>
</html>

