<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Welcome Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Image -->
  <link rel="icon" th:href="@{/img/menu.png}"/>


  <!--Online-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous"></script>

  <link rel="stylesheet" th:href="@{/css/stylesidebar.css}"/>
</head>
<body>

<div class="wrapper">
  <!-- Sidebar  -->
  <div th:insert="fragment/sidebar.html :: sidebar"></div>

  <div id="content" class="col">
    <div th:insert="fragment/navheader.html :: navheader"></div>


    <div class="container">

      <!-- On tables -->
      <table class="table-primary">...</table>
      <table class="table-secondary">...</table>
      <table class="table-success">...</table>
      <table class="table-danger">...</table>
      <table class="table-warning">...</table>
      <table class="table-info">...</table>
      <table class="table-light">...</table>
      <table class="table-dark">...</table>

      <!-- On rows -->
      <tr class="table-primary">...</tr>
      <tr class="table-secondary">...</tr>
      <tr class="table-success">...</tr>
      <tr class="table-danger">...</tr>
      <tr class="table-warning">...</tr>
      <tr class="table-info">...</tr>
      <tr class="table-light">...</tr>
      <tr class="table-dark">...</tr>

      <!-- On cells (`td` or `th`) -->
      <tr>
        <td class="table-primary">...</td>
        <td class="table-secondary">...</td>
        <td class="table-success">...</td>
        <td class="table-danger">...</td>
        <td class="table-warning">...</td>
        <td class="table-info">...</td>
        <td class="table-light">...</td>
        <td class="table-dark">...</td>
      </tr>

    </div>

  </div>
</div>




</div>

</body>
</html>